body {
  background-color: #F8F9FA
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #565451;
}

.header {
  padding-left: 90px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#logo {
  height: 90px;
  width: 90 px;
}

.aboutbtn {
  padding-left: 20px;
}

.picture {
  position: relative;
  text-align: center;
  color: #F8F9FA;
  background-repeat: no-repeat;
  background-size: auto;
  padding-right: 90px;
  padding-left: 90px;
}

.top-left {
  position: absolute;
  top: 25px;
  left: 125px;
  font-size: 55px;
}

.btn {
  color: #FAF9F7;
  background-color:  #F7A731   
  }

  .About {
    padding: 50px;
  }
